In [2]:
import pandas as pd

In [11]:
file_paths = ['s3://olistdashdb/csv/olist_sellers_dataset.csv',
's3://olistdashdb/csv/olist_order_reviews_dataset.csv',
's3://olistdashdb/csv/olist_order_items_dataset.csv',
's3://olistdashdb/csv/olist_customers_dataset.csv',
's3://olistdashdb/csv/olist_orders_dataset.csv',
's3://olistdashdb/csv/olist_order_payments_dataset.csv',
's3://olistdashdb/csv/product_category_name_translation.csv',
's3://olistdashdb/csv/product_category_name_translation.csv',
's3://olistdashdb/csv/product_category_name_translation.csv']

In [12]:
key_names = ['sellers',
 'order_reviews',
 'order_items',
 'customers',
 'orders',
 'order_payments',
 'product_category_name_translation',
 'products',
 'geolocation']

In [15]:
data = {}
for k,f in zip(key_names, file_paths):
    data[k] = pd.read_csv(f)
data.keys()

dict_keys(['sellers', 'order_reviews', 'order_items', 'customers', 'orders', 'order_payments', 'product_category_name_translation', 'products', 'geolocation'])

In [16]:
data['sellers'].head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP